@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

#root {
  --primary-color :#ff8d4d;
  --secondary:#ffdecc;
  --secondary-color:#FFEFE5;
  --container-bg:#FFF5F0;
  --grey-15:#262626;
  --hero-primary:#FFBE99

}




